// body settings
$containerWidth	: 		1200px;

// base colors
// $dark			:		#0A0100;
// $light 			:		#F3EFD4;
// $accent 		:		#716D5C;
// $subdark 		:		#A59F90;
// $sublight		:		#DAD5C0;


$dark			:		#111111;
$light 			:		#ffffff;
$accent 		:		rgb(76,175,80);
$accent2 		:		rgb(238,255,65);
// $sublight		:		#DAD5C0;

// $black			:		#111111;
// $white			:		#ffffff;

// font
// $textclr		:		$dark;
// $textclr-inv	:		$light;

// $linkclr		:		$accent;
// $linkhclr 		:		$dark;